.section {
  width: 100%;
}

.container {
  display: block;
  margin: 0 auto;

  @include mq($until: tablet) {
    width: map-get($map: $containerWidth, $key: 'mobile')
  }

  @include mq(tablet, desktop) {
    width: map-get($map: $containerWidth, $key: 'tablet')
  }

  @include mq(desktop, wide) {
    width: map-get($map: $containerWidth, $key: 'desktop')
  }

  @include mq(wide) {
    width: map-get($map: $containerWidth, $key: 'wide')
  }
}


@mixin generate-col-xs {
  .col-xs-offset-0 {
    @include mq($until: tablet) {
      margin-left: 0;
    }  
  }

  @for $i from 1 through $totalGridColumns {
    .col-xs-#{$i} {
      @include mq($until: tablet) {
        width: percentage($i/$totalGridColumns);
      }             
    }

    .col-xs-offset-#{$i} {
      @include mq($until: tablet) {
        margin-left: percentage($i/$totalGridColumns);
      }             
    }
  }
}

@mixin generate-col-sm {
  .col-sm-offset-0 {
    @include mq(tablet) {
      margin-left: 0;
    }
  }

  @for $i from 1 through $totalGridColumns {
    .col-sm-#{$i} {
      @include mq(tablet) {
        width: percentage($i/$totalGridColumns);
      }             
    }

    .col-sm-offset-#{$i} {
      @include mq(tablet) {
        margin-left: percentage($i/$totalGridColumns);
      }             
    }
  }
}

@mixin generate-col-md {
  .col-md-offset-0 {
    @include mq(desktop) {
      margin-left: 0;
    }
  }

  @for $i from 1 through $totalGridColumns {
    .col-md-#{$i} {
      @include mq(desktop) {
        width: percentage($i/$totalGridColumns);
      }             
    }

    .col-md-offset-#{$i} {
      @include mq(desktop) {
        margin-left: percentage($i/$totalGridColumns);
      }             
    }
  }
}

@mixin generate-col-lg {
  .col-lg-offset-0 {
    @include mq(wide) {
      margin-left: 0;
    }
  }

  @for $i from 1 through $totalGridColumns {
    .col-lg-#{$i} {
      @include mq(wide) {
        width: percentage($i/$totalGridColumns);
      }             
    }

    .col-lg-#{$i} {
      @include mq(wide) {
        margin-left: percentage($i/$totalGridColumns);
      }             
    }
  }
}

.row {
  @include display-flex;
  @include flex-wrap(wrap);
  width: 100%;  

  .col {
    width: 100%;
  }  

  @include generate-col-xs;
  @include generate-col-sm;
  @include generate-col-md;
  @include generate-col-lg;
}
